# script output files
loglooker_run.qmd

# Log files
logs/*.log

# R specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

# Quarto files
*.qmd.html
*.qmd.pdf
*.qmd.docx
*.qmd.odt
*.qmd.rtf


# OS specific files
.DS_Store
Thumbs.db 

# Quarto
**_files/*
**.html